/* Change color and size of sidebar */
.roam-body .roam-app .roam-sidebar-container {
  background-color: #003648;
  border-right: 1px #eee solid;
  width: auto;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page, .roam-body .roam-app .roam-sidebar-container > * {
  opacity: 80%;
  box-shadow: none;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover, .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
  background: #26738b;
  color: #eee;
  opacity: 100%;
}

/* Hide Roam Logo at Bottom */
a[id="roam-sidebar-logo"] {
  display: none;
}

/* Remove expander */
span.bp3-button.bp3-minimal.bp3-icon-menu-closed {
  display: none;
}

/* Remove Shortcut Bar */
#app > div > div.roam-app > div.roam-sidebar-container.noselect > div > div.flex-v-box.starred-pages-wrapper > div.flex-h-box.title  {
  display:none;
}

/* Change sidebar padding */
span.bp3-icon, span.bp3-icon-small {
  padding-left: 5px;
  height: 25px;
}

div.page {
  line-height: 200%;
}
